@import "../../assets/scss/config";

.patient-form-container {
  width: 50%;
  margin: 0 auto;

  .form {
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;

    &-group {
      display: flex;
      flex-direction: column;

      input {
        height: 38px;
        padding-left: 10px;
        border: 1px solid $border-color;
        outline: none;
        border-radius: 3px;
      }
    }

    .submitButton {
      grid-column: 1 / 3;
      text-align: right;

      button {
        border: none;
        background: $secondary-color;
        color: $text-color;
        padding: 17px 40px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}
