.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  &.table-header {
    border: 1px solid $background-primary;

    label {
      border: 1px solid $background-primary;
      padding: 10px;
    }
  }

  &.table-content {
    .responsive-label {
      display: none;
      font-weight: 400;
    }

    label {
      display: none;
    }

    span {
      border: 1px solid $background-primary;
      padding: 10px;
      overflow-wrap: break-word;
    }
  }
}
