@import "../../assets/scss/config";

.page-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  margin-bottom: 50px;
  font-size: 25px;

  span {
    width: 230px;
    border-bottom: 1px solid $primary-color;
  }
}
