@import "../../assets/scss/config";

.main-container {
  grid-area: 2 / 1 / 3 / 4;
  background: $background-primary;
}

.main-content {
  grid-area: main;
  background: $background-secondary;
  padding: 50px 40px;
}

.dashboard-tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}
