@import "../../assets/scss/config";

.logo {
  grid-area: logo;
  text-transform: uppercase;
  font-size: 25px;

  a,
  button {
    display: inline-block;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }

  button {
    margin-left: 10px;
    background: $secondary-color;
    color: $text-color;
    border: none;
    padding: 5px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;

    &.active {
      background: $warning-color;
    }
  }
}
