@import "../../assets/scss/config";

.submitButton {
  grid-column: 1 / -1;
  text-align: right;

  &.secondary {
    button {
      background: $secondary-color;
    }
  }

  &.warning {
    button {
      background: $warning-color;
    }
  }

  button {
    border: none;
    color: $text-color;
    padding: 17px 40px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }
}
