@import "../../assets/scss/config";

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 50px;

  .dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    border-radius: 25px;
    color: $text-color;
    height: 250px;
    text-align: center;

    h2 {
      font-size: 30px;
    }

    h1 {
      font-size: 45px;
    }
  }
}
